@model BookServiceModel
@inject IAuthorService authorService;
@inject IBookService bookService;

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Book Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Position in bookshelf: <b>@Model.PositionInLibrary</b></h6>
            <h6>Pages: <b>@Model.Pages</b></h6>
            <h6>(@(Model.IsTaked ? "Taked" : "Not Taked"))</h6>
            <br />
            <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id"
            asp-route-information="@Model.GetInformation()"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                if (await bookService.HasAuthorWithIdAsync(Model.Id, User.Id())
                || User.IsAdmin())
                {
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>
                }
                
                <p></p>
                @if (!Model.IsTaked && ((await authorService.ExistByIdAsync(User.Id())) == false ||
                User.IsAdmin()))
                {
                    <form class="input-group-sm" asp-controller="Book"
                          asp-action="GetABook" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Get" />
                    </form>
                }
                else if(await bookService.IsTakedByUserWithIdAsync(Model.Id,User.Id()))
                {
                    <form asp-controller="Book" asp-action="TakeBackTheBook"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Take back" />
                    </form>
                }
            }
        </div>
    </div>
</div>
