@model BookDetailsServiceModel
@inject IAuthorService authorService;
@inject IBookService bookService;
@{
    ViewBag.Title = "Book Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.PositionInLibrary</b></p>
            <p>@Model.Description</p>
            <p>Genre: <b>@Model.Genre</b></p>
            <p>Pages count: @Model.Pages</p>
            <p><i>(@(Model.IsTaked ? "Taked" : "Not Taken"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (await bookService.HasAuthorWithIdAsync(Model.Id, User.Id()))
                    { <a class="btn btn-warning" asp-controller="Book" asp-action="Edit"
                           asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Book" asp-action="Delete"
                        asp-route-id="@Model.Id">Delete</a>
                    }

                    @if (!Model.IsTaked && (await authorService.ExistByIdAsync(User.Id())) == false)
                        {
                        <form class="ml-2" asp-controller="Book"
                              asp-action="GetABook" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Take" />
                        </form>
                    }
                    else if(await bookService.IsTakedByUserWithIdAsync(Model.Id, User.Id()))
                    {
                        <form class="ml-2" asp-controller="Book" asp-action="TakeBackTheBook"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Take back" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Author Info</h5>
                    <p class="card-text">Email:  @Model.Author.Email</p>
                    <p class="card-text">Author name: @Model.Author.AuthorName</p>
                </div>
            </div>
        </div>
    </div>
</div>
